<%= simple_form_for(@student, :html => { :class => "form-vertical" }) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :name %>
    <%= f.input :birthdate %>
    <%= f.input :address %>
    <%= f.input :phone %>
    <%= f.input :altphone %>
    <%= f.input :emergency_contact_name %>
    <%= f.input :emergency_contact_phone %>
    <%= f.email_field :email %>
    <%= f.input :how_found %>
    <%= f.input :prior_experience %>
    <%= f.input :current_health %>
    <%= f.input :acceptance_of_terms %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
